<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>FairGrader @ GSW</title>
	<link rel='stylesheet' href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel='stylesheet' href='/css/eval.css'/>
	<%
	if(typeof kind === 'string' && kind === 'projectPage') {
		%>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css">
		<link rel='stylesheet' href='/css/projectPage.css'/>
		<%
	}
	%>
</head>

<body>
	<%include navbar%>
	<%
	if(typeof type === 'string') {
		if(type === 'error' && typeof message === 'string') {
			%>
			<meta http-equiv="refresh" content="5;URL='/'" />
			<div class="alert alert-danger alert-dismissible fade in" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<p><%=message%></p>
			</div>
			<%
		}
		else if(type === 'data' && typeof kind === 'string'){
			%>
			<div class="container-fluid">
			<%
			switch(kind) {
				case 'listOfTerms': {
					%>
					<div class="flex-row flex-h-center">
						<h2>Please select the term</h2>
					</div>
					<div class="vgap"></div>
					<ul class="list-unstyled">
						<%
						for(let term of data) {
							let year = term.slice(0,4);
							let semester = {'02': 'Spring', '05': 'Summer', '08': 'Fall'}[term.slice(4)];
							%>
							<li><a href="<%=urlPrefix%>/<%=term%>"><%=semester%> <%=year%></a></li>
							<%
						}
						%>
					</ul>
					<%
					break;
				}
				case 'listOfCourses': {
					let courses = {};
					for(let course of data) {
						if(!courses[course.dept]) {
							courses[course.dept] = [];
						}
						courses[course.dept].push(course);
					}
					%>
					<div class="flex-row flex-h-center">
						<h2>Please select the course</h2>
					</div>
					<div class="vgap"></div>
					<%
					for(let dept of Object.keys(courses)) {
						%>
						<fieldset>
							<legend>
								Department of <%=dept%>
							</legend>
							<ul class="list-unstyled">
							<%
							for(let course of courses[dept]) {
								let courseParts = course.code.split(/_/);
								let courseTitle = '';
								if(courseParts.length === 2) {
									courseTitle = courseParts[0].toUpperCase() + ' ' + courseParts[1] + ' ' + course.title;
								}
								else {
									courseTitle = course.code.toUpperCase() + ' ' + course.title;
								}
								%>
								<li><a href="<%=urlPrefix%>/<%=course.code%>"><%=courseTitle%></a></li>
								<%
							}
							%>
							</ul>
						</fieldset>
						<%
					}
					break;
				}
				case 'listOfProjects': {
					%>
					<div class="flex-row flex-h-center">
						<h2>Please select the project</h2>
					</div>
					<div class="vgap"></div>
					<ul class="list-unstyled">
					<%
					for(let project of data) {
						%>
						<li><a href="<%=urlPrefix%>/<%=project.key%>"><%=project.title%></a></li>
						<%
					}
					%>
					</ul>
					<%
					break;
				}
				case 'projectPage': {
					%>
					<%include projectPage%>
					<%
				}
			}
			%>
			</div>
			<%
		}
	}
	%>
	<script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<%
	if(typeof kind === 'string' && kind === 'projectPage') {
		%>
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
		<script src="/js/projectPage.js"></script>
		<%
	}
	%>
</body>

</html>