<!DOCTYPE html>
<html lang="en">
<body>
	<p>
		Hello, <%=contribution.name%>
	</p>
	<p>
		Your contribution for the <%=contribution.project%> of <%=contribution.course%> course has been received. Please follow <a href="<%=host%>/confirm?id=<%=contribution.id%>">this link</a> to confirm your identity and finalize this contribution.
	</p>
	<hr>
	<p>
		In case that you received this e-mail by mistake, please disregard it.
	</p>
	<p>
		--
		<br>
		FairGrader
	</p>
</body>
</html>